{% extends 'oncomap/base.html' %}

{% block slider %}
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Account active</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Account active</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Container / Start -->
<div class="container">

    <div class="row">

        <p>
        Your account is now active! You can login and start contributing to the ONCONET resource map.
        </p>

    </div>

    <div class="row">


    <div class="col-lg-8 col-md-8 padding-right-30">
        <form id="login_form" method="post" class="login"  action="/accounts/login/">
            {% csrf_token %}
            <p class="form-row form-row-wide">
                <label for="username">Username:
                    <i class="im im-icon-Male"></i>
                    <input type="text" class="input-text" name="username" id="id_username" value="" />
                </label>
            </p>

            <p class="form-row form-row-wide">
                <label for="password">Password:
                    <i class="im im-icon-Lock-2"></i>
                    <input class="input-text" type="password" name="password" id="id_password"/>
                </label>
                <span class="lost_password">
                    <a href="#" >Lost Your Password?</a>
                </span>
            </p>

            <div class="form-row">
                <input type="submit" class="button border margin-top-5" name="login" value="Login" />
                <div class="checkboxes margin-top-10">
                    <input id="remember-me" type="checkbox" name="check">
                    <label for="remember-me">Remember Me</label>
                </div>
            </div>
            
        </form>
    </div>


    </div>
</div>
{% endblock %}