{% extends 'oncomap/base.html' %}
{% load i18n %}


{% block slider %}
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Change password</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Change password</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Container / Start -->
<div class="container">

    <div class="row">


    <div class="col-lg-8 col-md-8 padding-right-30">
        <form method="post" action=".">
          {% csrf_token %} 
          {{ form.as_p }}

          <input type="submit" value="{% trans 'Submit' %}" />
        </form>
    </div>


    </div>
</div>
{% endblock %}


