{% extends "oncomap/base.html" %}
{% load i18n %}

{% block slider %}
{% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Password changed!</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Change password</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        Your password was successfully updated!

    </div>
</div>

{% endblock %}
