{% extends 'aptitude/base.html' %}
{% load i18n %}
{% block extra_head %}
<script src="/static/js/jquery-3.2.0.min.js"></script> 
{{ form.media }}
{% endblock %}

{% block slider %}
{% endblock %}


{% block title %}
Nueva evaluación
{% endblock title%}
{% block breadcrumbs %}
<li>Evaluación</li>
{% endblock breadcrumbs%}


{% block content %}

<h2>Buscar paciente</h2>
<form action="." method="POST" class="submit-form">
    {% csrf_token %}
    {{form.as_p}}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const dateInput = document.getElementById('id_fecha_nac');
    
            dateInput.addEventListener('input', function(e) {
                let input = e.target.value;
                input = input.replace(/\D/g, '');  // Remove all non-digit characters
                console.log(input.length)
                // Add slashes at appropriate positions
                if (input.length >= 2 && input.length <= 3) {
                    input = input.substring(0, 2) + '/' + input.substring(2);
                } else if (input.length >= 4) {
                    input = input.substring(0, 2) + '/' + input.substring(2, 4) + '/' + input.substring(4, 8);
                }
                
                e.target.value = input;
            });
        });
    </script>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
{% endblock %}

{% block javascript %}
{{ block.super }}

<!--script type="text/javascript" src="/static/js/dropzone.js"></script-->
{% endblock %}

{% block maps %}
{% endblock %}