<!-- Content
================================================== -->

<!-- Listings -->
<div class="container margin-top-70">
    <div class="row">

        <div class="col-md-12">
            <h3 class="headline centered margin-bottom-45">
                Last Edited Resources
                <span>Discover top-rated oncology research resources</span>
            </h3>
        </div>

        <div class="col-md-12">
            <div class="simple-slick-carousel dots-nav">

            <!-- Listing Item -->
            <div class="carousel-item">
                <a href="http://www.genyo.es/" class="listing-item-container">
                    <div class="listing-item">
                        <img src="/static/img/listing-item-01.jpg" alt="">

                        <div class="listing-badge now-open">New</div>
                        
                        <div class="listing-item-content">
                            <span class="tag">Research center</span>
                            <h3>Centro de Genómica e Investigación Oncológica (GENYO)</h3>
                            <span>Av. de la Ilustración, 114, 18007 Urb. los Vergeles, Granada, España</span>
                        </div>
                        <span class="like-icon"></span>
                    </div>
                    <div class="star-rating" data-rating="3.5">
                        <div class="rating-counter">(12 reviews)</div>
                    </div>
                </a>
            </div>
            <!-- Listing Item / End -->

            <!-- Listing Item -->
            <div class="carousel-item">
                <a href="http://www.cnio.es/" class="listing-item-container">
                    <div class="listing-item">
                        <img src="/static/img/listing-item-02.jpg" alt="">
                        <div class="listing-item-details">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="listing-item-content">
                            <span class="tag">Bioinformatics</span>
                            <h3>Centro Nacional De Investigaciones Oncologicas</h3>
                            <span>Calle de Sinesio Delgado, 6, 28029 Madrid, Spain</span>
                        </div>
                        <span class="like-icon"></span>
                    </div>
                    <div class="star-rating" data-rating="5.0">
                        <div class="rating-counter">(23 reviews)</div>
                    </div>
                </a>
            </div>
            <!-- Listing Item / End -->     

            <!-- Listing Item -->
            <div class="carousel-item">
                <a href="http://www.cnag.crg.eu/" class="listing-item-container">
                    <div class="listing-item">
                        <img src="/static/img/listing-item-03.jpg" alt="">
                        <div class="listing-item-details">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="listing-item-content">
                            <span class="tag">Genomics</span>
                            <h3>Centro Nacional de Análisis Genómico</h3>
                            <span>Carrer de Baldiri Reixac, 4, 08028 Barcelona, Spain</span>
                        </div>
                        <span class="like-icon"></span>
                    </div>
                    <div class="star-rating" data-rating="2.0">
                        <div class="rating-counter">(17 reviews)</div>
                    </div>
                </a>
            </div>
            <!-- Listing Item / End -->

            <!-- Listing Item -->
            <div class="carousel-item">
                <a href="/resources/navarrabiomed/" class="listing-item-container">
                    <div class="listing-item">
                        <img src="/static/img/listing-item-04.jpg" alt="">

                        <!--div class="listing-badge now-open">Now Open</div-->

                        <div class="listing-item-content">
                            <span class="tag">Biobank</span>
                            <h3>Navarrabiomed</h3>
                            <span>Irunlarrea 3, Pamplona, Spain</span>
                        </div>
                        <span class="like-icon"></span>
                    </div>
                    <div class="star-rating" data-rating="5.0">
                        <div class="rating-counter">(31 reviews)</div>
                    </div>
                </a>
            </div>
            <!-- Listing Item / End -->

            
            </div>
            
        </div>

    </div>
</div>
<!-- Listings / End -->