<!-- Filters -->
<div class="col-fs-12">


<div class="panel-dropdown">
    <a href="#">Categories</a>
    <div class="panel-dropdown-content checkboxes categories">
        

        <div class="row">
            <div class="col-md-6">
                <input id="check-1" type="checkbox" name="check" checked class="all">
                <label for="check-1">All Categories</label>

                <input id="check-2" type="checkbox" name="check">
                <label for="check-2">Biobanks</label>

                <input id="check-3" type="checkbox" name="check">
                <label for="check-3">Core facilities</label>
            </div>  

            <div class="col-md-6">
                <input id="check-4" type="checkbox" name="check" >
                <label for="check-4">Data resources</label>

                <input id="check-5" type="checkbox" name="check">
                <label for="check-5">Genomics</label>    

                <input id="check-6" type="checkbox" name="check">
                <label for="check-6">Bioinformatics</label>
            </div>
        </div>
        

        <div class="panel-buttons">
            <button class="panel-cancel">Cancel</button>
            <button class="panel-apply">Apply</button>
        </div>

    </div>
</div>

<!-- Panel Dropdown / End -->

<!-- Panel Dropdown -->
<div class="panel-dropdown wide">
    <a href="#">More Filters</a>
    <div class="panel-dropdown-content checkboxes">

        <div class="row">
            <div class="col-md-6">
                <input id="check-a" type="checkbox" name="check">
                <label for="check-a">Cancer samples</label>

                <input id="check-b" type="checkbox" name="check">
                <label for="check-b">Genomics</label>

                <input id="check-c" type="checkbox" name="check">
                <label for="check-c">Clinical trials</label>

                <input id="check-d" type="checkbox" name="check">
                <label for="check-d">Bioinformatics</label>
            </div>  

            <div class="col-md-6">
                <input id="check-e" type="checkbox" name="check" >
                <label for="check-e">Illumina sequencing</label>

                <input id="check-f" type="checkbox" name="check" >
                <label for="check-f">MS proteomics</label>

                <input id="check-g" type="checkbox" name="check">
                <label for="check-g">HPC cluster</label>    

                <input id="check-h" type="checkbox" name="check">
                <label for="check-h">Single cell RNA-seq</label>
            </div>
        </div>
        
        <div class="panel-buttons">
            <button class="panel-cancel">Cancel</button>
            <button class="panel-apply">Apply</button>
        </div>

    </div>
</div>
<!-- Panel Dropdown / End -->

<!-- Panel Dropdown -->
<div class="panel-dropdown">
    <a href="#">Distance Radius</a>
    <div class="panel-dropdown-content">
        <input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
        <div class="panel-buttons">
            <button class="panel-cancel">Disable</button>
            <button class="panel-apply">Apply</button>
        </div>
    </div>
</div>
<!-- Panel Dropdown / End -->

</div>
<!-- Filters / End -->