<!-- Slider
================================================== -->

<!-- Revolution Slider -->
<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

    <!-- 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>
                <!-- Slide -->  
                <li data-index="rs-2" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

                    <!-- Background -->
                    <img src="/static/img/aptitude/Visuel_Aptitude_1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"> 
    
                    <!-- Caption-->
                    <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" 
                        id="slide-2-layer-2" 
                        data-x="['center','center','center','center']" data-hoffset="['0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['0']" 
                        data-width="['840','640', 640','420','320']"
                        data-height="auto"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"	
                        data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo" 
                        data-transform_out="" 
                        data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-responsive_offset="on">
    
                        <!-- Caption Content -->

                        <div class="R_title margin-bottom-15"
                        id="slide-2-layer-3"
                        data-x="['center','center','center','center']"
                        data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']"
                        data-voffset="['-40','-40','-20','-80']"
                        data-fontsize="['42','36', '32','36','22']"
                        data-lineheight="['70','60','60','45','35']"
                        data-width="['640','640', 640','420','320']"
                        data-height="none" data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                        data-transform_out="opacity:0;s:300;"
                        data-start="600"
                        data-splitin="none"
                        data-splitout="none"
                        data-basealign="slide"
                        data-responsive_offset="off"
                        data-responsive="off"
                        style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 500; ">Base de datos<br/> de personas mayores frágiles</div>
                            <div class="caption-text">Herramienta electrónica del Proyecto APTITUDE-PROXI para la realización del cribado de fragilidad en personas mayores de 60 años, basada en la Guía de Atención Integrada para Personas Mayores (ICOPE) de la Organización Mundial de la Salud.</div>
                        <a href="/pacientes/buscar/" class="button medium">Ir a la base de datos</a>
                    </div>
    
                </li>
                <!-- Slide
                <li data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">
    
                    
                    <img src="/static/img/aptitude/Visuel_Aptitude_3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">
    
                    
                    <div class="tp-caption custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" 
                        id="slide-1-layer-2" 
                        data-x="['center','center','center','center']"
                        data-hoffset="['0','40','40','40']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['0']" 
                        data-width="['640','640', 640','420','320']"
                        data-height="auto"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"	
                        data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo" 
                        data-transform_out="" 
                        data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-responsive_offset="on">
    
                        
                        <div class="R_title margin-bottom-15"
                        id="slide-2-layer-1"
                        data-x="['center','center','center','center']"
                        data-hoffset="['0','0','40','0']"
                        data-y="['middle','middle','middle','middle']"
                        data-voffset="['-40','-40','-20','-80']"
                        data-fontsize="['42','36', '32','36','22']"
                        data-lineheight="['70','60','60','45','35']"
                        data-width="['640','640', 640','420','320']"
                        data-height="none" data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                        data-transform_out="opacity:0;s:300;"
                        data-start="600"
                        data-splitin="none"
                        data-splitout="none"
                        data-basealign="slide"
                        data-responsive_offset="off"
                        data-responsive="off"
                        style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">¿Tiene usted más de 70 años?</div>


                        <div class="caption-text">¿Le gustaría participar en proyectos de investigación relacionados con mejorar su calidad de vida?</div>
                        <div class="caption-text">Rellene el siguiente formulario y le mantendremos informado cuando haya algún proyecto de su interés:</div>

                        <a href="/registro/" class="button medium">Registro EFA</a>

                    </div>
    
                </li>
                -->

                

                <!-- Slide 
                <li data-index="rs-3" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

                    <img src="/static/img/aptitude/pamplona.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"> 
    

                    <div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" 
                        id="slide-3-layer-2" 
                        data-x="['center','center','center','center']" data-hoffset="['0']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['0']" 
                        data-width="['640','640', 640','420','320']"
                        data-height="auto"
                        data-whitespace="nowrap"
                        data-transform_idle="o:1;"	
                        data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo" 
                        data-transform_out="" 
                        data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;" 
                        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                        data-start="1000" 
                        data-responsive_offset="on">
    
                        <div class="R_title margin-bottom-15"
                        id="slide-3-layer-3"
                        data-x="['center','center','center','center']"
                        data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']"
                        data-voffset="['-40','-40','-20','-80']"
                        data-fontsize="['42','36', '32','36','22']"
                        data-lineheight="['70','60','60','45','35']"
                        data-width="['640','640', 640','420','320']"
                        data-height="none" data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                        data-transform_out="opacity:0;s:300;"
                        data-start="600"
                        data-splitin="none"
                        data-splitout="none"
                        data-basealign="slide"
                        data-responsive_offset="off"
                        data-responsive="off"
                        style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">3º Workshop en Pamplona</div>
    
                        <div class="caption-text">Esta tercera edición, organizada por el equipo de Navarrabiomed, el Complejo Hospitalario de Navarra y la Universidad Pública de Navarra, tendrá lugar en Pamplona, con la colaboración de Cruz Roja Navarra.</div>
                        <a href="https://www.aptitude-net.com/es/3o-workshop-pamplona-3-julio-de-2019" class="button medium">Saber más</a>
                    </div>
    
                </li>
                -->
    
            </ul>
            <div class="tp-static-layers"></div>
    
        </div>
    </div>
    <!-- Revolution Slider / End -->